:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  width: 90%;
  max-width: 800px;
  margin: 5rem auto 0;
}

@media screen and (max-width: 700px) {
  .app__wrapper {
    flex-direction: column;
  }
}

.note__container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 67%;
  gap: 1.5rem;
  padding: 1.5rem;
  min-height: 300px;
  background-color: rgb(61, 61, 61);
  border-radius: 0.5em;
  transition: 0.4s ease-in-out;
}

@media screen and (max-width: 700px) {
  .note__container {
    width: 100%;
    padding: 1rem;
  }
}

.saved-notes__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 33%;
  gap: 1rem;
  overflow: auto;
  max-height: 70vh;
}

@media screen and (max-width: 700px) {
  .saved-notes__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    max-height: 40vh;
  }
}

.saved-notes__container-note {
  background-color: rgb(61, 61, 61);
  padding: 1rem;
  border-radius: 0.5em;
  transition: 0.4s ease-in-out;
  position: relative;
}

.note__container:hover,
.saved-notes__container-note:hover {
  background-color: rgb(66, 66, 66);
}

@media screen and (max-width: 700px) {
  .saved-notes__container-note {
    flex-grow: 1;
    flex-basis: 150px;
    max-width: 45%;
  }
}

.saved-notes__container-title {
  margin-bottom: 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.saved-notes__container-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete-btn,
.move-up-btn,
.move-down-btn {
  position: absolute;
  right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 2px solid rgb(61, 61, 61);
  display: none;
}

.delete-btn {
  top: 5px;
}

.move-up-btn {
  top: 30px;
}

.move-down-btn {
  top: 55px;
}

.saved-notes__container-note:hover .delete-btn,
.saved-notes__container-note:hover .move-up-btn,
.saved-notes__container-note:hover .move-down-btn {
  display: block;
}

input {
  max-width: 350px;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 1rem;
  max-width: 100%;
  max-height: 40vh;
}

input,
textarea {
  border: 2px solid transparent;
  border-radius: 0.4em;
  outline: none;
  transition: border 0.4s ease;
}

input:focus,
textarea:focus {
  border: 2px solid #242424;
}

.save-btn {
  margin: 0 auto;
  padding: 0.5em 1em;
}
